[Unit]
Description=Gunicorn for YSXS
After=network.target

[Service]
Type=simple
User=__RUN_USER__
Group=__RUN_GROUP__
WorkingDirectory=__PROJECT_DIR__
EnvironmentFile=__ENV_FILE__
Environment="PYTHONUNBUFFERED=1"
ExecStart=__GUNICORN_BIN__ --timeout __GUNICORN_TIMEOUT__ -w __GUNICORN_WORKERS__ -b 127.0.0.1:__PORT__ YSXS.app:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
